/* Font imports */
@font-face {
    src: url("../fonts/Opificio.ttf");
    font-family: "Opificio";
    font-weight: normal;
}

@font-face {
    src: url("../fonts/Opificio_Bold.ttf");
    font-family: "Opificio";
    font-weight: bold;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    word-wrap: break-word;
    font-weight: normal;
}

/*
 *  GENERAL
 */
body {
    background: #fff6d4;
    font-family: "Opificio", "Century Gothic", sans-serif;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

strong {
    font-weight: bold;
}

input {
    font-family: "Opificio", "Century Gothic", sans-serif;
}

input[type="text"], input[type="password"] {
    padding: 3px 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 3px;
}

a {
    color: #fff;
}

/*
 *  HEADER
 */

/* Stripes */
#header #stripe-1 {
    background: #123752;
    height: 50px;
    width: 100%;
}

#header #stripe-2 {
    background: #486e88;
    height: 70px;
    width: 100%;
}

#header #stripe-3 {
    background: #708ea4;
    height: 16px;
    width: 100%;
}

/* Content */
#header #hcontent {
    min-width: 950px;
    width: 75%;
    height: 132px;
    margin: 13px 13% 0 12%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Categories */
#header #hcontent #categories {
    margin: 50px 10% 0 0;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
}

#header #hcontent #categories .cat {
    margin-right: 25px;
    padding: 4px 12px;
    height: 35px;
    border-left: 3px solid;
}

#header #hcontent #categories #cat-all {
    border-color: #f0f313;
}

#header #hcontent #categories #cat-cds {
    border-color: #c71ec5;
}

#header #hcontent #categories #cat-dvds {
    border-color: #2da84b;
}

#header #hcontent #categories #cat-all:hover {
    background: rgba(240,243,19,.4);
}

#header #hcontent #categories #cat-cds:hover {
    background: rgba(199,30,197,.4);
}

#header #hcontent #categories #cat-dvds:hover {
    background: rgba(30,199,42,.4);
}

/* Login Box */
#header #hcontent #login {
    margin-top: 45px;
}

#header #hcontent #login, #header #hcontent #signin form {
    display: flex;
    flex-wrap: wrap;
}

#header #hcontent #login input[type="text"], #header #hcontent #login input[type="password"] {
    font-size: 14px;
}

#header #hcontent #login input[type="submit"] {
    border: none;
    background: #d4be6a;
    border-radius: 3px;
    color: #486e88;
    margin-left: 3px;
    padding: 18px 6px;
    font-size: 16px;
}

#header #hcontent #login a {
    color: #d4be6a;
    text-decoration: underline;
}

#register-link {
    margin: 10px 0 0 15px;
    text-align: center;
}

/*
 *  MAIN CONTENT
 */
#container {
    background: #d4be6a;
    min-height: 250px;
    height: 60%;
    min-width: 900px;
    width: 64%;
    margin: 50px auto 15px auto;
    padding: 0 3%;
    text-align: left;
    font-size: 15px;
    color: #032137;
    border-radius: 20px 0;
}

#container h1 {
    color: #554300;
}

#container .message a {
    color: #123752;
    text-decoration: underline;
}

#content {
    position: absolute;
    margin-top: -18px;
    width: 66%;
    display: flex;
    flex-wrap: wrap;
}

/* Item listing */
#content .item {
    background: #af5784;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    width: 45%;
    margin: 0 1.5% 3% 1.5%;
    border-radius: 10px 0;
}

#content .item .cover {
    margin: 6px;
}

#content .item .info {
    margin-left: 5px;
    width: 50%;
}

#content .item .price {
    width: calc(50% - 90px);
    text-align: right;
    margin: 25px 0;
}

#content .album_info {
    margin: 35px 10px 10px 30px;
    width: 63%;
}

#content .album_info #album_lists {
    margin-top: 15px;
    display: flex;
}

#content .album_info #album_lists div {
    width: 45%;
}

#content .album_price {
    text-align: center;
    margin-top: 45px;
}

#content .album_price #buy_album, #content input[type=submit] {
    background: #af5784;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border: none;
    font-family: "Opificio", "Century Gothic", sans-serif;
    border-radius: 10px 0;
}

#content input[type=text], #content input[type=number] {
    padding: 6px;
    border: none;
    border-radius: 5px 0;
}

#content #registration input {
    font-size: 18px;
    margin: 5px 0;
    padding: 3px;
}

#content #pager {
    font-size: 17px;
    width: 100%;
    text-align: center;
}

#content #add_to_cart {
    font-size: 20px;
}

#content #cart td {
    font-size: 18px;
    padding: 2px 10px;
    color: #000;
}